#Page {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: monospace;
  height: 100%;
}
#input {
  resize: none;
  width: auto;
  margin: 0;
  border: 0pt;
  height: auto;
  font-size: 14pt;
  border: solid #c45774;
  display: grid;
  grid-template-rows: 100%;
  overflow: hidden;
}
#output {
  height: auto;
  width: auto;
  font-size: 14pt;
  padding: 1em;
  margin: 0;
  color: hsla(0, 0%, 97%, 0.973);
  word-wrap: break-word;
  border: solid #c45774;
  overflow: auto;
}

div.vue-codemirror {
  display: grid;
  grid-template-rows: 100%;
}

#output {
  background: hsl(230, 30%, 19%);
}
